button {
	display: block;
}

.widePanel {
	width: 100%
}

.gwt-TabPanel {
	width: 100%;
	height: 100%;
}

.gwt-TabPanelBottom {
	height: 96%;
}

.AItemTableWidget-table-cell {
	cursor: pointer;
}

.AItemTableWidget-table-cell-selected {
	background: #FFAAAA;
}

.fieldLabel {
	color: gray;
}

.editableViewer {
	font-weight: bold;
	cursor: pointer;
	background: #EEEEFF;
	width: 100%;
}

.editableEditor {
	
}

.AItemTableWidget {
	width: 100%;
	height: 100%;
}

.AItemFieldsWidget-table td {
	vertical-align: top;
}

.AEditableTextareaWidget-editorPanel {
}

.WorkspaceWidget-header-appLabel {
	font-size: 20px;
	font-weight: bold;
	margin: 5px;
	color: #CCCCCC;
	font-family: monospace;
}

.WorkspaceWidget-header-projectLabel {
	font-size: 20px;
	font-weight: bold;
	margin: 5px;
}

.BlockListWidget {
	background: #CCDDFF;
}

.BlockWidget {
	border: 1px solid black;
	background: white;
	padding: 5px;
}

.BlockWidget-selected {
	border: 3px solid #CC4444;
	padding: 3px;
}

.ImpedimentWidget-label {
	font-size: 14px;
	font-weight: bold;
}