td {
	vertical-align: top;
	padding: 1px 2px;
}

button {
	display: block;
	width: 100%;
	min-width: 100px;
}

body {
	background: #555555;
	padding: 5px;
}

.widePanel {
	width: 100%
}

.fieldLabel {
	color: gray;
}

.editableViewer {
	font-weight: bold;
	cursor: pointer;
	background: #EEEEFF;
	width: 100%;
}

.editableEditor {
	
}

.BlockListWidget {
	background: #CCDDFF;
}

.BlockWidget {
	border: 1px solid black;
	background: white;
	padding: 5px;
	cursor: pointer;
	color: black;
	-moz-border-radius: 10px;
}

.BlockWidget-selected {
	border: 3px solid #CC4444;
	padding: 3px;
}

.Block-title {
	font-size: 14px;
	font-weight: bold;
}

.Block-text {
	color: #AAAAAA;
}

.Block-block {
	padding: 3px;
}

.Toolbar {
	background: #CCDDFF;
	padding: 3px;
	border: 1px solid #CCDDFF; 
}


.WorkspaceWidget-workspace {
	border: 2px solid red;
}

.WorkspaceWidget-workarea {
	padding: 5px;
}

.SidebarWidget {
	background: #777777;
	color: white;
	padding: 5px 5px 20px 5px;
	position: fixed;
	z-index: 10;
	-moz-border-radius: 10px;
}

.DropWidget {
}

.DropWidget-items {
	min-height: 100px;
}

.DropWidget-trash {
	background: white;
	border: 1px solid black;
	color: black;
}

.DropWidget-space {
	background: grey;
}

.Trash-onEnter {
	border: 2px solid purple;	
}

.deleted {
	background: grey;	
}

#dnd {
	left: 0;
	top: 0;
	background: red;
	overflow: hidden;
	z-index:-1000;
	}
