td {
	vertical-align: top;
	padding: 1px 2px;
}

button {
	display: block;
	width: 100%;
	min-width: 100px;
}

.widePanel {
	width: 100%
}

.fieldLabel {
	color: gray;
}

.editableViewer {
	font-weight: bold;
	cursor: pointer;
	background: #EEEEFF;
	width: 100%;
}

.editableEditor {
	
}

.BlockListWidget {
	background: #CCDDFF;
}

.BlockWidget {
	border: 1px solid black;
	background: white;
	padding: 5px;
	cursor: pointer;
	color: black;
}

.BlockWidget-selected {
	border: 3px solid #CC4444;
	padding: 3px;
}

.Block-title {
	font-size: 14px;
	font-weight: bold;
}

.Block-text {
	color: #AAAAAA;
}

.Block-block {
	padding: 3px;
}

.Toolbar {
	background: #CCDDFF;
	padding: 3px;
	border: 1px solid #CCDDFF; 
}


.WorkspaceWidget {
}

.WorkspaceWidget-workarea {
	padding: 5px;
}

.HeaderWidget {
	border-bottom: 1px solid #555555;
	background: white;
	position: fixed;
	z-index: 10;
}

.HeaderWidget-appLabel {
	font-size: 20px;
	font-weight: bold;
	margin: 5px;
	color: #CCCCCC;
	font-family: monospace;
}

.HeaderWidget-projectLabel {
	font-size: 20px;
	font-weight: bold;
	margin: 5px;
}

.SidebarWidget {
	background: #555555;
	color: white;
	padding: 5px;
	position: fixed;
	z-index: 10;
}

.DropWidget {
}

.DropWidget-trash {
	background: white;
	border: 1px solid black;
	color: black;
}

.DropWidget-space {
	background: grey;
}

