/***** Constants *****

--- colors ---

http://www.colorcombos.com/color-scheme-203.html

*/


/***** Default HTML *****/

html, body {background: #E9EEF6;}

/***** GWT *****/

.gwt-Hyperlink a {color: #2956B2;}

/***** Ilarkesto *****/

.BugMarker {border: 1px solid red; background: #FEE; color: darkred;}

/***** Master Layout *****/

.Workspace-header {background: #667B99;}
.Workspace-body-west {}

/***** Header *****/

.HeaderWidget-title {color: white;}
.HeaderWidget-user {color: white;}
.HeaderWidget .ToolbarWidget {background: none;}
.HeaderWidget .gwt-Hyperlink a {color: #D6E4E1; }

/***** Sidebar *****/

.NavigatorWidget-head {border-bottom: 1px solid #D9DEE6;}
.NavigatorWidget .item a {border-bottom: 1px solid #D9DEE6; color: #465B79;}
.NavigatorWidget .item a:hover {background-color: #CCD5E6;}
.NavigatorWidget .selected .item a {background-color: #AFBBD2;}

.TrashWidget {background: #F2F5FE;}

.ClipboardWidget {background: #F2F5FE;}
.ClipboardItemWidget {background: white; border: 1px solid black;}

.ChatWidget-outputScroller {background: #F2F5FE;}
.ChatWidget-output .author {color: green;}
.ChatWidget-output .author-system {color: red;}
.ChatWidget-output .author-me {color: gray;}

.CommentWidget-header-date {color: #333;}

/***** PagePanel *****/

.PagePanel-header {background: #FFF7F0; color: #FF6637;}
.PagePanel-content {background: white; border: 1px solid #D9DEE6;}

.Workspace-body-west .PagePanel-header {background: #FE8402; color: white;}
.Workspace-body-west .PagePanel-content {background: #E9EEF6; border: 0px;}

/***** Toolbar *****/

.ButtonWidget {}
.ButtonWidget-enabled a { color: white; background: #A31E39 url("button_bg.png"); border: 1px solid #A31E39; }
.ButtonWidget-disabled a { color: #888; background: #DFD2CF url("button_bg.png"); border: 1px solid gray;}
.ButtonWidget-enabled a:hover { color: #009; background: #FFD22E url("button_bg.png"); border: 1px solid #FFB510;}

.ToolbarWidget {background: #D6E4E1;}

/***** Block List *****/

.BlockDndMarkerWidget-active {background: #A31E39;}

.ABlockWidget-block {background: white;}
.ABlockWidget-block-selected {border: 0px solid orange;}
.ABlockWidget-title {background: #E9EEF6; }
.ABlockWidget-content-expanded {border: 1px solid #E9EEF6;}

.RequirementBlock-closed .ABlockWidget-title {background: #CEFDC5;}
.RequirementBlock-inCurrentSprint .ABlockWidget-title {background: #FDCEC5;}
.RequirementBlock-invalidForSprint .ABlockWidget-title {background: #DEDEDE;}

.TaskBlock-taskClosed .ABlockWidget-title {background: #CEFDC5;}

.RequirementInSprintBlock-done .ABlockWidget-title {background: #CEFDC5;}
.TaskInRequirementBlock-taskClosed .ABlockWidget-title {background: #CEFDC5;}

.ImpedimentBlock-open .ABlockWidget-title {background: #FDCEC5;}
.ImpedimentBlock-closed .ABlockWidget-title {background: #DEDEDE;}


/***** Whiteboard *****/

.WhiteboardWidget-columnLabel {background: #FFF7F0; color: #FF6637;}
.WhiteboardWidget-open .ABlockWidget-title {background: #FDCEC5;}
.WhiteboardWidget-owned .ABlockWidget-title {background: #DEDEDE;}
.WhiteboardWidget-done .ABlockWidget-title {background: #CEFDC5;}

/***** Group *****/

.GroupWidget {border: 3px solid orange;}
.GroupWidget-title {background: #192666; color: #DEE5FD; }

/***** Fields *****/

.fieldLabel {color: gray; }
.AFieldValueWidget {background: white; border: 1px dotted white;}
.FieldsWidget-fieldLabel {color: gray; }

/***** Editables *****/

.AViewEditWidget-viewer {background: #FAFDFF; border: 1px dotted #DDD;}

/***** Drag & Drop *****/

.dnd-drop-allowed {background: #192666;}

/***** Widgets Tester *****/

.WidgetsTesterWidget .test-content {background: white; color: black; border: 1px solid #AAA;}

/***** Highlighting *****/
.highlighted .ABlockWidget-title {background: #FFC5CE; }

/***** other *****/
.PunishmentsWidget-tableHeader {background: #FFF7F0; color: #FF6637;}
.WaitWidget {border: 1px solid #DEE5FD; background: #EEF5FF;}
.LoginWidget {border: 1px solid #DEE5FD; background: #EEF5FF;}
.LoginWidget-errorMessage {color: red; border: 1px solid red; background: #FFEFEF;}

