td {vertical-align: top;}
.gwt-Button {white-space: nowrap;}
body {padding: 5px;}

.element-ToolbarWidget {padding: 3px;}
.element-ButtonWidget {font-weight: bold; cursor: pointer; color: darkblue; white-space: nowrap;}


.element-BlockListWidget-table {width: 100%; background: #EEF3F9;}

.element-BlockWidget-main {}
.element-BlockWidget {border: 1px solid black; background: white; padding: 5px; cursor: pointer; color: black;}
.element-BlockWidget-title {font-size: 14px; font-weight: bold;}
.element-BlockWidget-block {padding: 3px; width: 100%;}
.element-BlockWidget-center {}
.state-BlockWidget-selected {border: 3px solid #84C979; cursor: default;}

.element-DndMarkerWidget {background: #EEF3F9; height: 3px;}
.element-DndMarkerWidget-active {background: black; height: 3px;}


.element-WorkspaceWidget {}
.element-WorkspaceWidget-sidebar {width: 300px; height: 100%;}
.element-WorkspaceWidget-workspace {border: 2px solid red; width: 100%;}
.element-WorkspaceWidget-workarea {padding: 5px;}

.element-SidebarWidget {padding: 5px 5px 20px 5px; position: fixed; width: 300px;}
.element-SidebarWidget-buttons {}

.element-PanelWidget {border: 2px solid #EEEEEE; -moz-border-radius: 10px;}
.element-PanelWidget-title {background: #EEEEEE; color: #AAAAAA; font-weight: bold; padding: 5px;}
.element-PanelWidget-content {padding: 5px;}

.element-GroupWidget-title {background: #DDDDDD; color: black; padding: 5px;}
.element-GroupWidget-content {padding: 5px;}

.element-DropWidget {width: 100%;}
.element-DropWidget-items {height: 100px; width: 100%;}
.element-DropWidget-trash {background: white; border: 1px solid black; color: black; width: 100%;}
.element-DropWidget-space {background: grey; width: 100%; height: 200px;}

.Viewer {min-height: 16px; width: 100%;}
.Textarea-editor {height: 100px; width: 96%;}
.Integer-editor {width: 10%;}
.AEditableWidget {width: 100%}
.widePanel {width: 100%}
.fieldLabel {color: gray;}
.editableViewer {cursor: pointer; background: #EEF3F9; width: 100%; border: 1px dotted #CCCCCC; display: block; padding: 3px;}
.editableEditor {}
.Trash-onEnter {border: 2px solid purple;}
.deleted {background: grey;}
.AEditableTextareaWidget-editorPanel {width: 100%;}
.AItemFieldsWidget-grid {width: 100%;}



