button {
	display: block;
}

.widePanel {
	width: 100%
}

.gwt-TabPanel {
	width: 100%;
	height: 100%;
}

.gwt-TabPanelBottom {
	height: 96%;
}

.AItemTableWidget-table-cell {
	cursor: pointer;
}

.AItemTableWidget-table-cell-selected {
	background: #FFAAAA;
}

.fieldLabel {
	color: gray;
}

.editableViewer {
	font-weight: bold;
	cursor: pointer;
}

.editableEditor {
	
}

.AItemTableWidget {
	width: 100%;
	height: 100%;
}