/***** Constants *****

--- dimensions ---

header-height: 25px
sidebar-width: 200px

--- colors ---

http://www.colorcombos.com/color-scheme-130.html
A31E39
485C5A
8C9C9A
9DB2B1
BFCFCC
D6E4E1


*/


/***** Default HTML *****/

html, body {height: 100%; padding: 0px; margin: 0px; background: #D6E4E1;}
table td {vertical-align: top;}
a {cursor: pointer;}


/***** GWT *****/

.gwt-Button {font-size: 12px; line-height: 12px; white-space: nowrap; padding: 3px; margin: 0px;}
.gwt-Hyperlink a {color: #A31E39; white-space: nowrap; text-decoration: underline;}

/***** Ilarkesto *****/

.AWidget-height100 {height: 100%;}
.ImageAnchor {}
.ImageAnchor img {float: left; margin-right: 3px;}
.ImageAnchor .text { display: inline;}
.BugMarker {display: block; margin: 3px; padding: 3px; border: 1px solid red; background: #FEE; color: darkred; font-weight: bold; font-size: 10px; }
.FloatingFlowPanel-element {float: left;}

.floatClear {clear: both;}

/***** Master Layout *****/

.FullscreenPanel { }
.Workspace {height: 100%;}
.Workspace-header {height: 25px; background: #485C5A}
.Workspace-body {height: 100%;}
.Workspace-body-west {float: left; width: 200px; height: 100%;}
.Workspace-body-center {height: 100%;}

/***** Header *****/

.HeaderWidget {Xbackground: #F2F5FE url("header_bg.jpg");}
.HeaderWidget-title {font-size: 13px; font-weight: bold; color: white; padding-left: 5px; margin-top: 2px;}
.HeaderWidget-user {font-size: 12px; color: white; text-align: center; margin-top: 3px;}
.HeaderWidget .ToolbarWidget {background: none; margin: 0px; text-align: right;}
.HeaderWidget .ToolbarWidget .FloatingFlowPanel-element {float: right;}
.HeaderWidget .gwt-Hyperlink a {color: #D6E4E1; }

/***** Sidebar *****/

.NavigatorWidget {}
.NavigatorWidget-head {height: 10px; margin: 0px 15px 0px 15px; border-bottom: 1px solid #EEF;}
.NavigatorWidget .item {padding: 0px 15px 0px 15px; font-size: 14px;}
.NavigatorWidget .item a {display:block; padding: 5px 3px 5px 3px; text-decoration:none; border-bottom: 1px solid #EEF; color: #333;}
.NavigatorWidget .item a:hover {background-color: #CFDFDC;}
.NavigatorWidget .selected .item a {background-color: #8C9C9A; color: white;}

.TrashWidget {margin: 15px 15px 0px 15px; background: #F2F5FE; padding: 5px;}

.ClipboardWidget {margin: 20px 15px 0px 15px; height: 100px; background: #F2F5FE; padding: 5px;}
.ClipboardItemWidget {background: white; border: 1px solid black; margin-bottom: 5px;}

.ChatWidget {margin: 15px;}
.ChatWidget-outputScroller {background: #F2F5FE; padding: 5px;}
.ChatWidget-output a {text-decoration: underline;}
.ChatWidget-output p {margin: 3px 0px 0px 0px;}
.ChatWidget-output .author {font-style: italic; color: green;}
.ChatWidget-output .author-system {font-style: italic; color: red;}
.ChatWidget-output .author-me {font-style: italic; color: gray;}
.ChatWidget-input {margin-top: 5px; width: 97%;}

.UsersStatusWidget {margin: 15px;}
.UserStatusWidget {text-decoration: line-through; font-style: italic;}
.UserStatusWidget-online {text-decoration: none; font-style: normal;}

.CommentsWidget {margin: 10px 5px 5px 5px; Xmax-height: 500px;}
.CommentWidget {margin-top: 5px;}
.CommentWidget-header-author {float: left; margin: 0px 5px 0px 2px;}
.CommentWidget-header-date {color: #333;}

.TaskRemainingWorkWidget {margin-left: 3px;}

.RequirementEstimatedWorkWidget {margin-left: 3px;}


/***** Toolbar *****/

.ButtonWidget {}
.ButtonWidget a { display: block; font-weight: bold; padding: 3px; text-decoration: none; white-space: nowrap; font-size: 10px; line-height: 10px; }
.ButtonWidget-enabled a { color: white; background: #A31E39 url("button_bg.png"); border: 1px solid #A31E39; cursor: pointer; }
.ButtonWidget-disabled a { color: #888; background: #DFD2CF url("button_bg.png"); cursor: default; border: 1px solid gray;}
.ButtonWidget-enabled a:hover { color: #009; background: #FFD22E url("button_bg.png"); border: 1px solid #FFB510;}

.ToolbarWidget {background: #D6E4E1; padding: 3px 0px 3px 3px;}
.ToolbarWidget .FloatingFlowPanel-element {margin-right: 3px;}

/***** Block List *****/

.BlockListWidget {min-height: 100px;}
.WhiteboardWidget-requirement-list {padding: 0px; min-height: 5px;}

.ABlockWidget {color: black;}

.BlockDndMarkerWidget {height: 2px;}
.BlockDndMarkerWidget-active {height: 2px; background: #A31E39;}

.ABlockWidget-block {background: white;}
.ABlockWidget-block-selected {border: 0px solid orange;}
.ABlockWidget-title {padding: 1px; width: 100%; background: #BFCFCC; }
.ABlockWidget-title-label {font-size: 12px; line-height: 16px; cursor: pointer; display: block;}
.ABlockWidget-title .ToolbarWidget {margin: 0px;}
.ABlockWidget-title .ButtonWidget {margin-left: 15px;}
.ABlockWidget-title .ButtonWidget a {font-size: 8px; line-height: 8px;}
.ABlockWidget-title-menu {margin-left: 15px; border: 0px;}
.ABlockWidget-title-menu .gwt-MenuItem { font-size: 9px;}
.ABlockWidget-content-expanded {border: 1px solid #DEE5FD; padding: 10px;}


.ABlockWidget-block-title .UserOnBlockWidget {margin-right: 5px;}

.WhiteboardWidget-requirement-list .ABlockWidget-title {background: #192666; color: #DEE5FD;}

.RequirementBlock-closed .ABlockWidget-title {background: #CEFDC5;}
.RequirementBlock-inCurrentSprint .ABlockWidget-title {background: #FDCEC5;}
.RequirementBlock-invalidForSprint .ABlockWidget-title {background: #DEDEDE;}

.TaskBlock-taskClosed .ABlockWidget-title {background: #CEFDC5;}

.RequirementInSprintBlock-done .ABlockWidget-title {background: #CEFDC5;}
.TaskInRequirementBlock-taskClosed .ABlockWidget-title {background: #CEFDC5;}

.ImpedimentBlock-open .ABlockWidget-title {background: #FDCEC5;}
.ImpedimentBlock-closed .ABlockWidget-title {background: #DEDEDE;}

/***** PagePanel *****/

.PagePanel {padding: 10px; font-size: 12px; line-height: 14px;}
.PagePanel-content {background: white; border: 1px solid #A31E39;}
.PagePanel-spacer {height: 10px;}
.PagePanel-header {padding: 10px; background: #A31E39; color: white; font-size: 14px; line-height: 16px; font-family: "georgia",serif;}
.PagePanel-section {padding: 0px 10px;}

/***** Whiteboard *****/

.WhiteboardWidget-requirement-label {background: #192666; color: #DEE5FD; padding: 5px; font-size: 14px; font-family: "georgia",serif;}
.WhiteboardWidget-columnLabel {padding: 5px; font-size: 13px; font-family: "georgia",serif;}
.WhiteboardWidget-open {background: #FFE5E5;}
.WhiteboardWidget-owned {background: #FFFFE5;}
.WhiteboardWidget-done {background: #E5FFE5;}

/***** Wiki *****/

.WikiWidget-navig {margin: 10px 0px;}
.WikiWidget-title {background: #192666; color: #DEE5FD; padding: 5px; font-size: 16px; font-family: "georgia",serif;}
.WikiWidget-dummy {color: gray; border: 1px solid darkgray; background: #lightgray; font-size: 12px; padding: 5px; margin: 5px;}

/***** UserHoverPanel *****/

.UserHoverPanel-label {padding: 5px; font-size: 16px; cursor: default;}


/***** Group *****/

.GroupWidget {border: 3px solid orange;}
.GroupWidget-title {background: #192666; color: #DEE5FD; padding: 5px; font-size: 16px; font-family: "georgia",serif;}
.GroupWidget-content {padding: 5px;}

/***** Fields *****/

.fieldLabel {color: gray; line-height: 22px; white-space: nowrap;}
.AFieldValueWidget {background: white; min-width: 16px; min-height: 16px; border: 1px dotted white; display: block; padding: 3px;}
.FieldsWidget {}
.FieldsWidget-fieldLabel {color: gray; line-height: 22px; white-space: nowrap;}
.FieldsWidget-fieldValue {}

/***** Editables *****/

.AViewEditWidget-viewer {cursor: pointer; background: #FAFDFF; min-width: 16px; min-height: 16px; border: 1px dotted #DDD; display: block; padding: 3px;}
.AViewEditWidget-editor {}

.AIntegerViewEditWidget .ButtonWidget a {font-size: 8px; line-height: 8px;}
.ARichtextViewEditWidget-editor {height: 100px; width: 96%; }
.ARichtextViewEditWidget-viewer {}
.AEditableTextareaWidget-editorPanel {width: 100%;}
.Integer-editor {width: 10%;}


/***** Drag & Drop *****/

.dnd-drop-allowed {background: #192666;}

/***** Widgets Tester *****/

.WidgetsTesterWidget .test-content {background: white; color: black; border: 1px solid #AAA;}

/***** Highlighting *****/
.highlighted .ABlockWidget-title {padding: 1px; width: 100%; background: #FFC5CE; }

/***** other *****/
.WaitWidget {margin: 200px 0px; border: 1px solid #DEE5FD; background: #EEF5FF; font-size: 14px;}
.LoginWidget {width: 230px; margin: 10px auto; border: 1px solid #DEE5FD; background: #EEF5FF;}
.LoginWidget-errorMessage {color: red; border: 1px solid red; background: #FFEFEF; font-size: 12px; padding: 5px; margin: 5px;}

