<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("blg", "$entry.title - Kunagi", "Kunagi Blog: $entry.title", "Kunagi, blog")

#blogRssLink()

<div class="section">
    <h2>$entry.title</h2>
    $entry.text
    <div class="sectionfooter">
        $entry.date |
        <a href="http://kunagi.org/${entry.reference}.html" title="Permalink" rel="bookmark">Permalink</a>
    </div>
</div>

#commentsSection($entry)

#footer()