<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("blog")

#blogRssLink()

#foreach( $entry in $blog.entries )
    <a name="$entry.reference"></a>
    <div class="section">
        <h2>$entry.title</h2>
        <p class="secondaryText">$entry.date</p>
        $entry.text
    </div>
    <div class="separator"></div>
#end

#footer()