<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("development")


<div class="section">
    <h2>Scrum with Kunagi</h2>
    <p>Since the project was started in September 2008, we are doing Scrum. After a year of work,
        Kunagi was good enough to give it a try. From the beginning it was perfect for our needs.
        Now Kunagi is able to export ist contents, so we can share our progress and plans with you.</p>
</div>

<div class="separator"></div>


<div class="section">
    <h2>Sprint Backlog</h2>
    #if( $sprintBacklog.goal )
        <h3>Goal for the current Sprint</h3>
        <p>$sprintBacklog.goal</p>
    #end
    <h3>Stories the Team has committed to</h3>
    <ul>
    #foreach( $story in $sprintBacklog.stories )
        <li><a href="${story.reference}.html">$story.reference</a> $story.label</li>
    #end
    </ul>
    <h3>Current Burndown</h3>
    <img src="sprint-burndown-700x200.png" alt="current sprint burndown chart">
</div>

<div class="separator"></div>


<div class="section">
    <h2>Product Backlog</h2>
    <ul>
    #foreach( $story in $productBacklog.stories )
        <li><a href="${story.reference}.html">$story.reference</a> $story.label</li>
    #end
    </ul>
    <p>There are more story canditates among collected <a href="ideas.html">ideas</a>.</p>
</div>

<div class="separator"></div>


<div class="section">
    <h2>Development Team</h2>
    <p>Kunagi is developed by a distributed team of experienced software developers:</p>
    <ul>
        <li><a>Artjom Kochtchi</a> is Product Owner and Team member</li>
        <li><a href="http://koczewski.de/" target="_blank">Witoslaw Koczewski</a> (<a href="http://koczewski.de/witoslaw-koczewski-csm.pdf" target="_blank">CSM</a>) is ScrumMaster and Team member</li>
        <li><a href="http://fabianhager.de/" target="_blank">Fabian Hager</a> is Team member</li>
        <li><a href="http://grubalski.de/" target="_blank">Kacper Grubalski</a> is Team member</li>
        <li><a>Fabian Wischnewski</a> is Team member</li>
    </ul>
</div>

<div class="separator"></div>


<div class="section">
    <h2>Donations</h2>
    <p>Kunagi is free software, developed in our spare time. The software will stay free no matter what,
        but donations would allow us to invest more time into the project.</p>
    <table><tr>
        <td width="100">
            <h3>Flattr</h3>
            <script type="text/javascript">var flattr_url = 'http://kunagi.org';</script>
            <script src="http://api.flattr.com/button/load.js" type="text/javascript"></script>
        </td><td width="170">
            <h3>Paypal</h3>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="DY452MLW6V4LE">
                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1">
            </form>
        </td><td width="100">
            <h3>SourceForge</h3>
            <a href="http://sourceforge.net/donate/index.php?group_id=306714" target="_blank">
                <img src="http://images.sourceforge.net/images/project-support.jpg" width="88" height="32" border="0" alt="Support the Kunagi Project" />
            </a>
        </td>
    </tr></table>
</div>

<div class="separator"></div>


<div class="section">
    <h2>Source Code</h2>
    <p>You can get source code from 
        <a target="_blank" href="http://github.com/witek/kunagi/">GitHub</a>, 
        <a target="_blank" href="https://sourceforge.net/projects/kunagi/">SourceForge</a> or
        <a target="_blank" href="https://code.google.com/p/kunagi/">Google Code</a>.
    </p>
</div>

<div class="separator"></div>


<div class="section">
    <h2>Participation</h2>
    <div class="middle">
        <p>We are working on making our development process more open. We will also document the architecture
            and design patterns used in Kunagi, so that developers can provide patches or join our team.</p>        
    </div>
    <div class="sidebar">
        <div class="starter">
            <a target="_blank" href="https://servisto.de/scrum/">Kunagi Kunagi</a>
        </div>
    </div>
    <div class="clear"></div>
</div>

#footer()