<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("download")

<div class="section">
    <h2>Download</h2>
    <div class="middle">
        <p>
            Kunagi is a Java web application. You can deploy it to your favorite web application
            server on your favorite operating system. For the majorty of servers, all you have to do,
            is to copy the current <code>kunagi.war</code> to the <code>webapps</code> directory.
        </p>
    </div>
    <div class="sidebar">
<div class="starter">
    <a href="http://sourceforge.net/projects/kunagi/files/kunagi.war/download">Download</a>
</div>
    </div>
    <div class="clear"></div>
</div>

<div class="separator"></div>

<div class="section">
    <a href="http://www.gnu.org/licenses/agpl.html" target="_blank"><img src="img/agplv3-88x31.png" alt="GNU Affero General Public License"
        align="right" style="margin: 0px 0px 15px 25px;"></a>
    <h2>Copying</h2>
    <p>
        Kunagi is free software: you can redistribute it and/or modify
        it under the terms of the <strong>GNU Affero General Public License</strong> as published
        by the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.
    </p><p>
        Kunagi is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
        GNU Affero General Public License for more details.
    </p><p>
        Get a copy of the GNU Affero General Public License from
        <a href="http://www.gnu.org/licenses/" target="_blank">gnu.org</a>
    </p>
</div>

<div class="separator"></div>

<div class="section">
    <a href="http://www.opensource.org/" target="_blank"><img src="img/opensource.png" alt="Open Source"
        align="right" style="margin: 0px 0px 15px 25px;"></a>
    <h2>Included libraries</h2>
    <p>Kunagi uses libraries from other projects with different open source licenses. The following
        are included in our package:</p>
    <ul>
        <li><strong><a href="http://code.google.com/webtoolkit/" target="_blank">Google Web Toolkit</a></strong>
            <em> - <a href="http://code.google.com/webtoolkit/terms.html" target="_blank">Apache License, Version 2.0</a></em></li>
        
        <li><strong><a href="http://code.google.com/p/gwt-dnd/" target="_blank">gwt-dnd</a></strong>
            <em> - <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License, Version 2.0</a></em></li>
        
        <li><strong><a href="http://code.google.com/p/gwt-upload/" target="_blank">gwt-upload</a></strong>
            <em> - <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License, Version 2.0</a></em></li>
        
        <li><strong><a href="http://itextpdf.com/" target="_blank">iText PDF</a></strong>
            <em> - <a href="http://itextpdf.com/terms-of-use/" target="_blank">GNU Affero General Public License</a></em></li>
        
        <li><strong><a href="http://www.jfree.org/jfreechart/" target="_blank">JFreeChart</a></strong>
            <em> - <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">GNU Lesser General Public License</a></em></li>
        
        <li><strong><a href="http://xstream.codehaus.org/" target="_blank">XStream</a></strong>
            <em> - <a href="http://xstream.codehaus.org/license.html" target="_blank">Berkeley Software Distribution License</a></em></li>
        
        <li><strong><a href="http://www.jdom.org/" target="_blank">JDOM</a></strong>
            <em> - <a href="http://www.jdom.org/docs/faq.html#a0030" target="_blank">Apache-style open source license</a></em></li>
        
        <li><strong><a href="http://commons.apache.org/fileupload/" target="_blank">Commons Fileupload</a></strong>
            <em> - <a href="http://commons.apache.org/fileupload/license.html" target="_blank">Apache License, Version 2.0</a></em></li>
        
        <li><strong><a href="http://kenai.com/projects/javamail" target="_blank">JavaMail</a></strong>
            <em> - <a href="http://www.sun.com/cddl/cddl.html" target="_blank">Common Development and Distribution License</a></em></li>
        
        <li><strong><a href="http://logging.apache.org/log4j" target="_blank">Log4j</a></strong>
            <em> - <a href="http://logging.apache.org/license.html" target="_blank">Apache License, Version 2.0</a></em></li>
    </ul>
</div>


#footer()