<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("index")

<div class="section">
    <h2>What is Kunagi?</h2>
    $project.description
    <p>Interested? Try the <strong>online demo</strong> or read the <strong>full description</strong> below!</p>
</div>

<div class="separator"></div>

<div class="section">
    <h2>Online demo</h2>
    <div class="middle">
        <p>
            Take a closer look at Kunagi by trying the <strong>online demo</strong>.
            It is preconfigured with example projects.
        </p>
    </div>
    <div class="sidebar">
        <div class="starter">
            <a target="_blank" href="https://servisto.de/kunagi-demo/">Start Demo</a>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="separator"></div>

<div class="section">
    <h2>Full Description</h2>
    $project.longDescription
</div>


#footer()