<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("index")

<div class="section">
    <h2>What is Kunagi?</h2>
    <p>
        Kunagi offers <strong>integrated project management</strong>, supplementing <strong>Scrum</strong> by a
        selection of other best practices to cover all project management needs. It does not only offer management
        of basic Scrum documents, but also a variety of additional data. Furthermore, it includes several features
        for the <strong>ease of use</strong> and <strong>collaboration</strong>.
    </p><p>
        Kunagi aims to be accessible and suitable for both professional and non-professional development of
        projects of any size. Its <strong>web interface</strong> uses the latest technology to achieve the usability
        of desktop  software while running in a browser and therefore being accessible from anywhere.                  
    </p><p>
        Interested? Try the <strong>online demo</strong> or read the <strong>full description</strong> below!
    </p>
</div>

<div class="separator"></div>

<div class="section">
    <h2>Online demo</h2>
    <div class="middle">
        <p>
            Take a closer look at Kunagi by trying the <strong>online demo</strong>.
            It is preconfigured with example projects.
        </p>
    </div>
    <div class="sidebar">
        <div class="starter">
            <a target="_blank" href="https://servisto.de/kunagi-demo/">Start Demo</a>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="separator"></div>

<div class="section">
    <h2>Full Description</h2>
    
    <p>
        Kunagi is a <strong><a href="http://www.gnu.org/philosophy/free-sw.html" target="_blank">free</a></strong>
        <strong>web-based</strong> tool for <strong>integrated project management</strong> and 
        <strong>collaboration</strong> based on
        <strong><a href="http://www.scrumalliance.org/learn_about_scrum" target="_blank">Scrum</a></strong>.
        It is integrated, allowing users to manage their complete project using only one tool. For that purpose, 
        Scrum is supplemented by a selection of other <strong>best practices</strong> to cover all project management
        needs. The tool's range provides not only the basis for all <strong>Scrum practices</strong> (like product,
        sprint backlogs and impediment list), but also offers management of <strong>additional important project
        data</strong> (like non-functional requirements, risks, files, issues and bugs), as well as several
        features for ease of use (featuring a <strong>project dashboard</strong>, an <strong>interactive
        whiteboard</strong> for the current sprint and <strong>planning poker</strong> for estimation) and
        team collaboration (including comments for every entity, a wiki and a discussion board).
    </p><p>
        Kunagi is aimed at, but not limited to, software projects. The light nature of <strong>agile</strong>
        project management allows for use by both <strong>professionals</strong> and <strong>non-professionals</strong>,
        causing <strong>minimal overhead</strong> to the project. Therefore, it is also suitable for small projects
        done by <strong>virtual teams</strong>, i. e. teams that are scattered across the world.
    </p><p>
        Using Kunagi's <strong>web interface</strong>, it is possible to access project related data from anywhere.
        Despite being an online application, the <strong>powerful interface</strong> is built to keep up with the
        flexibility of desktop software, as it makes use of <strong>asynchronous</strong> technology employing the
        <strong>Google Web Toolkit</strong> (<a href="http://code.google.com/webtoolkit/" target="_blank">GWT</a>).
    </p><p>
        Last, but not least, it is important to us that the tool helps people get their work done. We understand
        that it is therefore important for the tool to be not only <strong>suitable</strong> for project management,
        but also be <strong>accessible</strong>, offer a <strong>coherent</strong> work flow and be
        <strong>fun to use</strong>. For this reason, we have been using Kunagi for <strong>it's own
        project management</strong>, once it was ready to provide sufficient functionality for our needs. Moreover,
        after the tool's release, we will provide additions, enhancements and <strong>updates</strong> on a regular 
        basis.
    </p>
                    
</div>


#footer()