<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("iss", "$issue.label - Kunagi", "Kunagi issue: $issue.label", "Kunagi, issue, bug")

<div class="section">
    
    <h2>$issue.label</h2>
    
    #if( $issue.description )
        <p>$issue.description</p>
    #end

    #if( $issue.statement )
        <h3>Statement from Kunagi Team</h3>
        <p>$issue.statement</p>
    #end
    
    #if( $issue.statusText )
        <h3>Status</h3>
        <p>$issue.statusText</p>
    #end
    
</div>


#footer()