<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("iss", "$issue.label - Kunagi", "Kunagi issue: $issue.label", "Kunagi, issue, bug")

<div class="section">
    <h2>$issue.label</h2>
    <p>$issue.description</p>
    #if( $issue.statement )
        <h3>Statement from Kunagi Team</h3>
        <p>$issue.statement</p>
    #end
</div>


#footer()