<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("news")

<a href="news.rss.xml" style="float: right; line-height: 16px;">RSS Feed</a>
<a href="news.rss.xml" style="float: right;"><img src="img/rss.png" alt="RSS" style="margin-right: 5px;"></a>

#foreach( $blogEntry in $blog.entries )
    <a ref="$blogEntry.reference"></a>
    <div class="section">
        <h2>$blogEntry.title</h2>
        <p class="secondaryText">$blogEntry.date</p>
        $blogEntry.text
    </div>
    <div class="separator"></div>
#end

#footer()