<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("screenshots", "Screenshots - Kunagi", "Kunagi Screenshots and feature descriptions.", "Kunagi, screenshots, features")

<div class="section">
    <table id="screen-table" width="100%">
<tr><td colspan="2"> <h2>Dashboard</h2> </td></tr>
        <tr>
            <td><a href="screenshots/dashboard.png"><img src="screenshots/dashboard_thumb.png" alt="Project Dashboard" /></a></td>
            <td style="padding-left: 30px;">
                <p>
                    The <strong>dashboard</strong> shows all important information relevant to the current sprint.
                </p><p>
                    This includes the <strong>Sprint Burndown</strong>, current <strong>Risks</strong> and
                    <strong>Impediments</strong>, <strong>Tasks</strong> and <strong>Issues</strong> that
                    are in progress or still to be done, and new entries in the <strong>event journal</strong>.
                </p>        
            </td>
        </tr>
<tr><td colspan="2"> <div class="separator"></div> <h2>Product Backlog</h2> </td></tr>
        <tr>
            <td><a href="screenshots/productbacklog.png"><img src="screenshots/productbacklog_thumb.png" alt="Product Backlog and Planning Poker"/></a></td>
            <td style="padding-left: 30px;">
                <p>
                    The <strong>Product Backlog</strong> is a prioritized list of desired product features in
                    form of User Stories. 
                </p><p>
                    While the Product Owner keeps the backlog up to date, the Team estimates the effort
                    necessary to implement those Stories (using <strong>Planning Poker</strong>). Based on this
                    estimation and the teams performance in prior Sprints, it is possible to <strong>project the
                    scope</strong>of future Sprints.
                </p>
            </td>
</tr>
<tr><td colspan="2"> <div class="separator"></div> <h2>Whiteboard</h2> </td></tr>
        <tr>
            <td><a href="screenshots/whiteboard.png"><img src="screenshots/whiteboard_thumb.png" alt="Whiteboard" /></a></td>
            <td style="padding-left: 30px;;">
                <p>
                    The <strong>whiteboard</strong> serves as an intuitive view of the current Sprint's progress.
                </p><p>
                    It lists all Stories that are part of the current iteration and <strong>Tasks</strong> that
                    need to be completed in order to implement them. The Tasks are <strong>arranged by
                    state</strong> (<em>to do</em>, <em>in progress</em> and <em>done</em>) and provide a visual
                    clue of the current progress as they are moved from left (to do) to right (done).
                </p>
            </td>
        </tr>
    </table>
</div>


#footer()