<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("story", "$story.label - Kunagi", "Kunagi story: $story.label", "Kunagi, story, user story, requirement")

<div class="section">
    <h2>$story.label</h2>
    
    <p>$story.description</p>
    
    #if( $story.testDescription )
        <h3>Acceptance tests</h3>
        <p>$story.testDescription</p>
    #end
    
    #if( $story.estimatedWork )
        <h3>Estimation</h3>
        <p><i>$story.estimatedWork Story Points</i></p>
    #end
    
</div>

#commentsSection($story)

#footer()