<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("support")

<div class="section">

    <h2>Contact / Feedback / Feature Request / User Story</h2>
    <form method="post" action="https://servisto.de/scrum/submitIssue" accept-charset="UTF-8">
        <input name="projectId" type="hidden" value="ef50396a-0e3a-479b-8808-c31cdfd77fa0">
        <input name="returnUrl" type="hidden" value="http://kunagi.org/message.html#{message}">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td colspan="3">
                    <span class="label">Your issue:</span><br>
                    <textarea name="text" rows="10" cols="50" style="width: 687px;"></textarea><br>
                    <br>    
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label">Name:</span>
                    <input type="text" name="name" class="textinput">
                </td>
                <td>
                    <span class="label">E-Mail:</span>
                    <input type="text" name="email" class="textinput">
                </td>
                <td align="right">
                    <input type="submit" name="submit" class="submit" value="Submit issue">
                </td>
            </tr>
        </table>
    </form>

</div>

<div class="separator"></div>                    


<div class="section">
    
    <h2>Known bugs</h2>
    <ul>
    #foreach ($issue in $bugs)
        <li><a href="${issue.reference}.html">$issue.reference</a> $issue.label</li>
    #end
    </ul>
    
</div>

<div class="separator"></div>                    



<div class="section">
    $wiki.InstallDoc
</div>


#footer()