<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("support", "Support - Kunagi", "Kunagi support. Feedback, feature requests. Documentation and Tutorials.", "Kunagi, support, feedback, feature request, documentation, tutorial")

<div class="section">

    <h2>Contact / Feedback / Feature Request / User Story</h2>
    #commentForm("submitIssue", $null, "Your issue", "Make this issue visible on this homepage <span color="gray">(without your Name and E-Mail)</span>.", "Submit issue")
    
</div>

<div class="separator"></div>                    


<div class="section">
    
    <h2>Known bugs</h2>
    <ul>
    #foreach ($issue in $bugs)
        <li><a href="${issue.reference}.html" class="reference">$issue.reference</a> $issue.label</li>
    #end
    </ul>
    
    <p>Fixed bugs can be found among <a href="closedissues.html">closed issues</a>.</p>
    
</div>

<div class="separator"></div>                    



<div class="section">
    $wiki.InstallDoc
</div>


#footer()