#macro( header $page $title $description $keywords)
<html>

<head>

    <title>$title</title>
    <meta name="description" content="$description">
    <meta name="author" content="Artjom Kochtchi, Witoslaw Koczewski">
    <meta name="keywords" content="$keywords">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="en">

    <meta name="robots" content="index">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="screen.css" type="text/css">
    <link rel="alternate" type="application/rss+xml" title="Kunagi Blog as RSS 2.0" href="blog.rss.xml">
    <script type="text/javascript" src="js/prototype.js"></script>
    <script type="text/javascript" src="js/kill-ie6.js"></script>

</head>

<body>

<div id="main">

    <div id="header">
       <a href="http://kunagi.org/"><img src="img/kunagi.png" height="85" alt="kunagi"></a>
    </div>
    
    <div id="menu">
        <table cellspacing="0" cellpadding="0" width="100%"><tr>
            
            #navigLink("index", "Home", $page)
            #navigLink("blog", "Blog", $page)
            #navigLink("screenshots", "Screenshots", $page)
            #navigLink("download", "Download", $page)
            #navigLink("support", "Support", $page)
            #navigLink("development", "Development", $page)
            
            <td width="90%"></td>
            
            <td style="vertical-align: middle;">
                <div style="margin: 5px 10px 0px 0px;">
                <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;username=kunagi"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=kunagi"></script>
                </div>
            </td>
        </tr></table>
    </div>
    
    <div id="content">
#end




#macro( navigLink $page $label $currentPage )
    <td><a class="navigLink #if($page==$currentPage)navigLinkSelected#end" href="${page}.html">${label}</a></td>
#end





#macro( commentsSection $entity )
    #if( $entity.comments )
        <div class="separator"></div>
        <div class="section">
            <h2>Comments</h2>
            #foreach( $comment in $entity.comments )
                <p><b>$comment.date</b> by <b>$comment.author</b></p>
                <div style="margin-left: 20px;">
                    $comment.text
                </div>
            #end
        </div>
    #end

#if ( $entity.id )
    <div class="separator"></div>
    <div class="section">
        <h2>Post a comment</h2>
        #commentForm("postComment", $entity.id, "Your comment", $null, "Post comment")
    </div>
#end

#end




#macro( commentForm $servlet $entityId $textLabel $visibilityCheckboxLabel $submitLabel)
    <form method="post" action="https://servisto.de/scrum/$servlet" accept-charset="UTF-8">
        #if ($id)
            <input name="projectId" type="hidden" value="$id">
        #else
            <input name="projectId" type="hidden" value="ef50396a-0e3a-479b-8808-c31cdfd77fa0">
        #end
        #if ($entityId) <input name="entityId" type="hidden" value="$entityId"> #end
        <input name="returnUrl" type="hidden" value="http://kunagi.org/message.html#{message}">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td colspan="3">
                    <label for="text">$textLabel:</label><br>
                    <textarea name="text" id="text" rows="10" cols="50" style="width: 687px;"></textarea><br>
                    #if ($visibilityCheckboxLabel)
                        <br>
                        <input type="checkbox" name="publish" id="publish" value="true">
                        <label for="publish">$visibilityCheckboxLabel</label><br>
                    #end
                    <br>    
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" class="textinput">
                </td>
                <td>
                    <label for="email">E-Mail:</label>
                    <input type="text" name="email" id="email" class="textinput">
                </td>
                <td align="right">
                    <input type="submit" name="submit" class="submit" value="$submitLabel">
                </td>
            </tr>
        </table>
    </form>
#end



#macro( footer )
    </div><!-- content -->
    
    <div id="footer">
        Copyright 2010 Artjom Kochtchi, Witoslaw Koczewski, Fabian Hager
    </div>
    
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12836945-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
#end




#macro( blogRssLink )
    <a href="blog.rss.xml" style="float: right; line-height: 16px;">RSS Feed</a>
    <a href="blog.rss.xml" style="float: right;"><img src="img/rss.png" alt="RSS" style="margin-right: 5px;"></a>
#end
