<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>scrum</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- provides main communication service -->
	<servlet>
		<servlet-name>scrum</servlet-name>
		<servlet-class>scrum.server.ScrumServiceImpl</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>	
	<servlet-mapping>
		<servlet-name>scrum</servlet-name>
		<url-pattern>/scrum.ScrumGwtApplication/scrum</url-pattern>
	</servlet-mapping>

    <!-- provides css -->
    <servlet>
        <servlet-name>css</servlet-name>
        <servlet-class>scrum.server.css.CssServlet</servlet-class>
    </servlet>      
    <servlet-mapping>
        <servlet-name>css</servlet-name>
        <url-pattern>/scrum.ScrumGwtApplication/screen.css</url-pattern>
    </servlet-mapping>

	<!-- provides sprint burndown chart -->
	<servlet>
		<servlet-name>sprintBurndownChart</servlet-name>
		<servlet-class>scrum.server.sprint.SprintBurndownChartServlet</servlet-class>
	</servlet>		
	<servlet-mapping>
		<servlet-name>sprintBurndownChart</servlet-name>
		<url-pattern>/scrum.ScrumGwtApplication/sprintBurndownChart.png</url-pattern>
	</servlet-mapping>

	<!-- provides sprint burndown chart -->
	<servlet>
		<servlet-name>projectBurndownChart</servlet-name>
		<servlet-class>scrum.server.project.ProjectBurndownChartServlet</servlet-class>
	</servlet>		
	<servlet-mapping>
		<servlet-name>sprintBurndownChart</servlet-name>
		<url-pattern>/scrum.ScrumGwtApplication/projectBurndownChart.png</url-pattern>
	</servlet-mapping>

</web-app>
